@import 'normalize.css';
/* CSS */
body, html {
    height: 100%;
   // background-color: red;
  }
  
  body {
    display: flex;
  flex-direction: column;
  min-height: 100vh;
  }
  
h1{
    text-align: center;
}
a {
    text-decoration: none !important;
    border: none !important;
    color: inherit;
}
